*.pdf
*.aux
*.log
*.swp
*.swo
.*swn
*.bbl
*.blg
*.loe
*.lof
*.toc
code/demo/:
_minted-small/
_minted*
*~
minimal
example.bib
*.out
*.gz
*blx.bib
*.run.xml
thesis*.png
thesis*.svg
thesis*.html
thesis*.css
thesis*.4*
thesis*.lg
thesis*.xref
thesis*.idv
thesis*.dvi
thesis*.tmp
